name: Actualitzar Llista TV

on:
  schedule:
    # 02:00 a 09:00 (UTC+1) -> cada 2 hores
    - cron: '0 1,3,5,7 * * *'
    # 09:00 a 00:30 (UTC+1) -> cada 30 minuts
    - cron: '*/30 9-23,0 * * *'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar el codi
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Important per poder fer --amend

      - name: Instal·lar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instal·lar llibreries
        run: pip install requests

      - name: Executar el generador
        env: 
          # MILLORA 8: Aquí injectem el secret
          API_URL: ${{ secrets.API_URL }}
        run: python generator.py

      - name: Guardar i publicar (Clean History)
        # MILLORA 7: Evitar el 'Git Bloat' amb --amend i force push
        run: |
          git config --global user.name "Bot Actualitzador"
          git config --global user.email "bot@github.com"
          git add .
          # Si ja hi ha un commit previ del bot, el sobreescrivim. Si no, en fem un de nou.
          git commit --amend --no-edit || git commit -m "Actualització automàtica"
          git push --force origin main