name: Actualitzar Llista TV

on:
  schedule:
    # 02:00 a 09:00 (UTC+1) -> cada 2 hores
    - cron: '0 1,3,5,7 * * *'
    # 09:00 a 00:30 (UTC+1) -> cada 30 minuts
    - cron: '*/30 9-23,0 * * *'

  workflow_dispatch:

concurrency:
  group: production
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar el codi
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Instal·lar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instal·lar llibreries
        run: pip install requests

      - name: Executar el generador
        env: 
          API_URL: ${{ secrets.API_URL }}
          API_URL_PPV: ${{ secrets.API_URL_PPV }}
        run: python generator.py

      - name: Guardar i publicar
        # HEM TRET EL --AMEND PERQUÈ ES NETEGI EL NOM DEL COMMIT
        run: |
          git config --global user.name "Bot Actualitzador"
          git config --global user.email "bot@github.com"
          git add .
          git commit -m "Actualització automàtica" || exit 0
          git push